.rbc-calendar {
  margin-left: 20%;
  width: 80%;
  padding: 10px 10px;
  box-sizing: border-box;
}
.rbc-row {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.rbc-date-cell {
  width: 16.22%;
  height: 92px;
}
.rbc-header {
  width: 16.22%;
  height: 20px;
  margin: 0;
  text-align: center;
  border: 1px solid #cccccc;
}

.rbc-date-cell button {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.rbc-toolbar {
  margin: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rbc-btn-group button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  border-collapse: collapse;
}
.rbc-btn-group {
  border-radius: 50%;
  border: 1px solid #ffffff;
  border-collapse: collapse;
}
